node_modules/**/*
api/app/node_modules/*
api/app/build/*
**/automation/**
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
build/contracts/**
.vscode

# macOS
.DS_Store
