api/app/build/*
**/automation/**
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/
api/app/build/contracts/**
.vscode
node_modules/
# **/truffle-config.js/**
# macOS
.DS_Store
